
h1{
    color: rgb(255, 255, 255);
    background-color: rgb(10, 182, 182);
    margin: 40px auto;
    padding: 30px;
    border: 5px solid rgb(36, 56, 233);
    width: 300px;
    font-size: 300%;
    text-align: center;
    line-height: 1;
    border-radius: 50%;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
    background-image: linear-gradient(to bottom,#f00 #fff );
    font-family:'limelight',cursive;
}

h2{
   padding: 10px;
   margin-bottom: 30px;
   border: 1px dotted rgb(153, 141, 169);
   border-left: 10px solid rgb(182, 137, 201);
   color:rgb(240, 179, 202)
}

body{
    background-color:rgb(196, 222, 255);
    background-image: url(../img/background.png);
    background-repeat:repeat-x ;
    background-attachment:fixed ;
    background-size: 2000px 150px;
}

header,nav,footer{
    text-align: center;
}

img{
    height: 300px;width: 480px;
}

a{
    color :rgb(178, 12, 255)
}

a:hover{
    color: blue;
    text-decoration: none;
}

.more{
    text-align: right;
}

.more::after{
    content:url(../img/icon_arrow.png);
    margin-left: 3px;
    vertical-align: middle;
    
    
}

.h{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted rgb(red, green, blue);
    border-left: 10px solid rgb(red, green, blue);
    color: rgb(red, green, blue);
}

.h-sub span{
    font-weight: normal;
}

section+section {
    margin-top: 80px;
}

.h-sub{
    padding: 10px;
    background-color: rgb(193,140,157);
    color: rgb(78, 68, 136);
    border-radius: 10PX;
    box-shadow: 0,0,5px,2px rgb(127, 154, 196) inset;
}

#contents {
    width: 798px;
    margin: 40px auto;
    padding: 40px 80px;
    border: 5px solid rgb(137, 128, 205);
    background-color: rgb(255, 255, 255);
}


a[target="_blank"]::after{
    content: url(../img/icon_blank.png);
    margin-left: 5px;
    vertical-align: middle;
}

a[href^="mailto:"]::after{
   content: url(../img/icon_mail.png);
   margin-left: 5px;
   vertical-align: middle;
}

.menu li{
    list-style-type: none;
    margin: 0 10px;
    display: inline-block;
    width: 200px;
}

.menu a{
    background: rgb(255, 255, 255);
    color: rgb(155, 107,255);
    padding: 10px;
    display: block;
    border-radius:10px ;
    text-decoration: none;
}

.imgL{
    float: left;
    margin-right: 20px;
}

.imgR{
    float: right;
    margin-right: 20px;
}

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

.clear{
    clear: both;
}